
<div class = "container1">

<div class="container">

    <br>
    <div class = "logout"> <a id = "logout" routerLink="/Login" class="btn btn-danger " role="button" routerLinkActive="active">Logout</a></div>
    
   <nav>
    <a routerLink="/enrollPatient" class="btn btn-primary active" role="button" routerLinkActive="active" style = "color:black; background-color:orange; font-style:normal;">ENROLL PATIENT</a>
    <a routerLink="/enrollPhysician" class="btn btn-primary active" role="button" routerLinkActive="active" style = "color:black; background-color:skyblue; font-style:normal;">ENROLL PHYSICIAN</a>
    <a routerLink="/searchPhysician" class="btn btn-primary active" role="button" routerLinkActive="active" style = "color:black; background-color:yellow; font-style:normal;">SERACH PHYSICIAN</a>
    <a routerLink="/diagnosis" class="btn btn-primary active" role="button" routerLinkActive="active" style = "color:black; background-color:pink; font-style:normal;">DIAGNOSIS</a>
    <a routerLink="/patientHistory" class="btn btn-primary active" role="button" routerLinkActive="active" style = "color:black; background-color:springgreen; font-style:normal;">PATIENT HISTORY</a>
    

   </nav>

  
</div>
<router-outlet></router-outlet>

</div>

